@model ArmyTechTask.Models.InvoiceHeader

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="bg-info text-center text-light">Edit Invoice Header</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoicedate" class="control-label"></label>
                <input asp-for="Invoicedate" class="form-control" />
                <span asp-validation-for="Invoicedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashierId" class="control-label"></label>
                <select asp-for="CashierId" class="form-control" asp-items="ViewBag.CashierId"></select>
                <span asp-validation-for="CashierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <input type="submit" value="Save" class="btn btn-primary form-control" />
                </div> 
                <div class="col-6">
                        <a asp-action="Index" class="btn btn-primary form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
